@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* header start*/
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color:bisque;
  box-shadow: 0 6px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
height: 90px;
}

#header .logo{
   width: 100px;  /* ajuste ici la taille selon ton goût */
  height: auto;
  border-radius: 50%;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
color: grey;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: grey;
  position: absolute;
  left: 20px;
  bottom: -4px;
}

/* home page */
#hero{
  background-image: url(assets/hero2.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: #465b52;
}

#hero button{
  background-image: url(assets/button.png);
  background-color: transparent;
  color: #465b52;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 1.5px;
  transition: 0.4s ease;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70,62,221,0.1);

}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #465b52;
  background-color: antiquewhite;
}

#feature .fe-box:nth-child(2) h6{
background-color:beige;
}

#product{
  text-align: center;
}

#product .prod-container{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  flex-wrap: wrap;
}

#product .prod{
  width: 23%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.03);
  margin: 15px 0;
  transition: 0.3s ease;
  position: relative;
}

#product .prod img{
  width: 100%;
  border-radius: 20px;
}

#product .prod:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.08);
}

#product .prod .des{
  text-align: start;
  padding: 10px 0;
}

#product .prod .des span{
  color: #465b52;
  font-size: 13px;
}

#product .prod .des h5{
  padding-top: 10px;
  color: black;
  font-size: 15px;
}

#product .prod .des i{
  font-size: 12px;
  color: #ffd82c;
}

#product .prod .des h4{
  padding-top:7px;
  color: #465b52;
  font-size: 12px;
  font-weight: 600;
}

#product .prod .cart{
  width: 40px;
  height: 40px;
 line-height: 40px;
 color: #465b52;
 border: 0.5px solid #cce7d0;
 background-color: #e8f6ea;
 border-radius: 50%;
 position: absolute;
 bottom: 10px;
 right: 10px;
} 

